body {
  background-color: #95221F;
}

.h1 {
  position: relative;
  top: 60px;
  left: 100px;
  margin: 50px;
  color: whitesmoke;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 10vw; 
  text-align: left;
}

.h2 {
  top: 0px;
  color: midnightblue;
}

.headshot {
  position: relative;
  top: -275px;
  left: 675px;
  width: 350px;
  height: 458px;
}

.fun-text{
  position: relative;
  top: -500px;
  left: 125px;
  width: 500px;
  color: whitesmoke;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 16px;
  text-align : left;
  
}

.funner-text{
  position: relative;
  top: -500px;
  left: 150px;
  width: 500px;
  color:whitesmoke;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 16px;
  text-align : left;
}

/* code taken from https://codetheweb.blog/2017/12/12/style-a-navigation-bar-css/ */
header {
  background-color: whitesmoke;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

header * {
  display: inline;
}

header li {
  margin: 20px;
}

header li a {
  color: slategray;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-decoration: none;
}

header li a:hover {
  width: 150%;
  transition: width 2s ease 1s;
  color: midnightblue;
  font-style: underline;

}

footer {
  background-color: whitesmoke;
  position: absolute;
  top: 650px;
  left: 0px;
  right: 0px;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;

}

footer * {
  display: inline;
}

footer li {
  margin: 30px;
}

.footfont {
  right: 1000px;
  color: midnightblue;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-decoration: none;
  text-align: right;
  display: flex;
}

footer li a {
  color: midnightblue;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-decoration: none;
  text-align: right;
}

@keyframes grow{
  from {width: 200px; height: 50px; top: 150px; left: 250px; bottom: 200px; right: 450px; background-color: slategray}
  to {width: 250px; height: 100px;  top: 125px; left: 225px; bottom: 225px; right: 475px; background-color: midnightblue}
}

@keyframes grow2{
  from {width: 200px; height: 50px; top: 150px; left: 700px; bottom: 200px; right: 900px; background-color: slategray}
  to {width: 250px; height: 100px;  top: 125px; left: 675px; bottom: 225px; right: 925px; background-color: midnightblue}
}

@keyframes fontgrow{
  from {font-size:24px;}
  to{font-size:32px;}
}

.rectangle {
  width: 200px;
  height: 50px;
  position: absolute;
  top: 150px;
  left: 250px;
  bottom: 200px;
  right: 450px;
  background-color: slategray;
  border: none;
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 24px;
}

.rectangletext {
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 24px;
}

.rectangletext:hover {
  animation-name: fontgrow;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

.rectangle:hover {
  width: 250px;
  height: 100px;
  animation-name: grow, fontgrow;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

.rectangle2 {
  left:700px;
  right:900px;
}

.rectangle2:hover{
  animation-name: grow2;
}

.email {
  position: absolute;
  width:300px;
  top: 250px;
  left:200px;
}

.formtext {
  color:whitesmoke;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 16px;
  text-align : left;
}

.mailing {
  position: absolute;
  width:300px;
  top: 250px;
  left:700px;
}

.mailingmail {
  top: 500px;
}

.mailingtext {
  color:whitesmoke;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 16px;
  text-align : left;
}

.mailingtext-fancy {
  color:midnightblue;
}

.contacth {
  position: relative;
  top: 100px;
  left: 100px;
  margin: 50px;
  color: whitesmoke;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 5vw; 
  text-align: left;
}

.contacth2 {
  font-size: 3vw;
  top:125px;
  color:midnightblue;
}

/* from W3 schools */
/* Dropdown Button */


.dropbtn {
  position: absolute;
  background-color: slategray;
  color: white;
  width:200px;
  height: 50px;
  padding: 16px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: midnightblue;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  top:200px;
  left:-750px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top:50px;
  background-color: whitesmoke;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: slategray;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.tablewrap {
  position:absolute;
  top:325px;
  left:450px;
  width:600px;
}

table, th, td {
  border: 3px solid maroon;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

th {
  color:midnightblue;
}

.vidwrap {
  position: absolute;
  top: 250px;
  left: 50px;
  display: inline-grid;
}

video {
  margin: 10px;
}

video p {
  color:whitesmoke;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 16px;
}